.editor-group {
  border-radius: 0.25rem;
  margin: 5px 0;

  > div {
    padding: 0.25em;
  }

  .editor-element,
  .editor-title {
    display: flex;
  }

  .editor-element {
    margin-bottom: 0.25rem;

    > input:not(.slider-input),
    > select {
      margin-left: 0.4rem;
    }
  }

  .editor-item-title {
    display: flex;

    .editor-item-name {
      padding: 0.25rem;
      margin-bottom: 0;
      line-height: 1.5;
      font-weight: 500;
      flex: 100%;
    }
  }

  label {
    flex: 2;
    white-space: nowrap;
  }

  .editor-button-collapse {
    flex: 1;

    button {
      margin: 2px;
      height: calc(1.5rem + 2px);
    }
  }

  .editor-button-theme {
    flex: 1;
    margin-right: 0.25rem;

    select {
      min-width: 80px;
      margin: 2px;
      height: calc(1.5rem + 2px);
      font-size: 11px;
    }
  }

  .editor-item-name {
    flex: 1;
  }

  input:not(.slider-input),
  select,
  .element-dom {
    flex: 3;
  }

  .element-dom {
    display: flex;

    input[type="color"] {
      flex: 1;
    }

    input[type="color"] + input[type="text"] {
      margin-left: 5px;
      flex: 3;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    height: calc(1.5rem + 4px);
    text-align-last: center;

    &::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
    }
  }

  label {
    line-height: 1.5;
    padding-top: 0.125rem;
  }

  input {
    min-width: 0;

    &.slider-input {
      flex: 1;
    }

    &:not([type="button"]):not([type="checkbox"]):not([type="color"]) {
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      width: 100%;
      height: calc(1rem + 2px);
    }

    &[type="checkbox"] {
      padding: 0;
      flex: auto;
      margin-top: 0.3rem;
      height: 1rem;
    }

    &[type="color"] {
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      height: calc(1rem + 2px);
      margin: auto 0;

      &::-webkit-color-swatch {
        display: none;
      }

      &::-moz-color-swatch {
        display: none;
      }
    }
  }

  .editor-spacer {
    flex: 100%;
  }

  button,
  input[type="button"] {
    font-size: 11px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }

  .editor-button-collapse {
    text-align: center;
    flex: auto;
  }

  .range-slider {
    overflow: hidden;
    flex: 2;
    position: relative;
    cursor: ew-resize;
    margin: 0 0.25rem 0 0;
    border-radius: 0.25rem;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
      position: relative;
      z-index: 2;
      height: 100%;
      cursor: inherit;
    }
  }
}

.group-content {
  padding: 0.5em;
}

.editor-root {
  position: fixed;
  max-height: calc(100vh - 15px);
  min-width: 252px;
  max-width: 400px;
  overflow: auto;
  margin: 5px;
  font-family: "Avenir Next", Helvetica, "Helvetica Neue", Arial, sans-serif;

  > .editor-item-title {
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }
  }
}

.editor-top {
  top: 0;
}

.editor-bottom {
  bottom: 0;
}

.editor-left {
  left: 0;
}

.editor-right {
  right: 0;
}
