@mixin create-neu-theme(
  $name,
  $bgColor,
  $textColor,
  $titleTextColor,
  $sliderBgColor,
  $buttonBgColor,
  $buttonTextColor,
  $buttonHoverBgColor,
  $activeSwitchColor,
  $disactiveSwitchColor,
  $lightColor,
  $shadowColor
) {
  .editor-root.editor-theme-neu-#{$name} {
    margin: 10px;
    border-radius: 0.5em;
    box-shadow: 4px 4px 10px 0 transparentize($shadowColor, 0.7);
    max-height: calc(100% - 35px);
  }

  .editor-theme-neu-#{$name} {
    color: $textColor;
    background-color: $bgColor;

    .editor-item-title {
      border-radius: 10px 10px 0 0;
      color: $titleTextColor;

      .editor-item-name {
        line-height: 2;
      }
    }

    input:not([type="button"]):not([type="checkbox"]) {
      color: $textColor;
      background-color: $bgColor;
      border-radius: 10px;
      height: 2rem;
      box-shadow: inset -6px -6px 16px 0 transparentize($lightColor, 0.5),
        inset 6px 6px 16px 0 transparentize($shadowColor, 0.5);
      border: none;
    }

    input[type="checkbox"] {
      outline: 0;
      border: none;
      flex: 85px;
      border-radius: 20px;
      box-shadow: -8px -4px 8px $lightColor, 8px 4px 12px $shadowColor, 4px 4px 4px $shadowColor inset,
        -4px -4px 4px $lightColor inset;
      -webkit-appearance: none;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        width: 50%;
        background-color: $disactiveSwitchColor;
        box-shadow: -8px -4px 8px 0px $lightColor, 8px 4px 12px 0px $shadowColor;
        border-radius: 20px;
        outline: none;
        transition: all 0.8s;
        cursor: pointer;
      }

      &:checked:before {
        transform: translateX(100%);
        cursor: pointer;
        background: $activeSwitchColor;
      }
    }

    select {
      color: $textColor;
      background-color: $bgColor;
      border-radius: 10px;
      height: 2rem;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 0.25rem;
      box-shadow: 6px 6px 16px 0 transparentize($shadowColor, 0.5), -6px -6px 16px 0 transparentize($lightColor, 0.5);
      border: none;
    }

    button,
    input[type="button"] {
      color: $buttonTextColor;
      background-color: $buttonBgColor;
      border: none;
      height: 2rem;
      border-radius: 10px;
      box-shadow: 6px 6px 16px 0 transparentize($shadowColor, 0.5), -6px -6px 16px 0 transparentize($lightColor, 0.5);

      &:active {
        box-shadow: inset -6px -6px 16px 0 transparentize($lightColor, 0.5),
          inset 6px 6px 16px 0 transparentize($shadowColor, 0.5);
      }
    }

    .editor-group,
    &.editor-group {
      border-radius: 10px;
      padding: 10px 5px 5px 5px;
      margin-bottom: 20px;
      box-shadow: 4px 4px 10px 0 transparentize($shadowColor, 0.7);

      label {
        line-height: 2;
        padding-top: 0.25rem;
      }

      .editor-button-theme {
        select {
          height: 2rem;
        }
      }

      .editor-button-collapse {
        button {
          height: 2rem;
        }
      }
    }

    .range-slider {
      background-color: $bgColor;
      border-radius: 20px;
      box-shadow: inset -6px -6px 16px 0 transparentize($lightColor, 0.5),
        inset 6px 6px 16px 0 transparentize($shadowColor, 0.5);

      &:before {
        background-color: $bgColor;
        border-radius: 20px;
        box-shadow: inset -6px -6px 16px 0 transparentize($lightColor, 0.5),
          inset 6px 6px 16px 0 transparentize($shadowColor, 0.5);
      }

      span {
        background-color: $sliderBgColor;
        border-radius: 20px;
        box-shadow: 6px 6px 16px 0 transparentize($shadowColor, 0.5), -6px -6px 16px 0 transparentize($lightColor, 0.5);
      }
    }
  }
}
