@mixin create-theme($name, $bgColor, $textColor, $borderColor) {
  .editor-root.editor-theme-#{$name} {
    border: 1px solid $borderColor;
  }

  .editor-theme-#{$name} {
    color: $textColor;
    background-color: $bgColor;

    input:not([type="button"]),
    select {
      color: $textColor;
      background-color: $bgColor;
      border: 1px solid $borderColor;
    }

    button,
    input[type="button"] {
      color: $textColor;
      background-color: $bgColor;
      border: 1px solid $borderColor;

      &:hover {
        background-color: darken($bgColor, 10%);
      }
    }

    .editor-group {
      border: 1px solid $borderColor;
    }

    .group-content {
      border-top: 1px solid $borderColor;
    }

    .range-slider {
      border: 1px solid $borderColor;

      &:before {
        background-color: $bgColor;
      }

      span {
        background-color: $textColor;
      }
    }
  }
}
