@mixin create-theme(
  $name,
  $bgColor,
  $textColor,
  $borderColor,
  $titleBgColor,
  $titleTextColor,
  $sliderBgColor,
  $buttonBgColor,
  $buttonTextColor,
  $buttonHoverBgColor
) {
  .editor-root.editor-theme-#{$name} {
    border: 1px solid $borderColor;
  }

  .editor-theme-#{$name} {
    color: $textColor;
    background-color: $bgColor;

    .editor-item-title {
      background-color: $titleBgColor;
      border-bottom: 1px solid $borderColor;
      color: $titleTextColor;
    }

    input:not([type="button"]),
    select {
      color: $textColor;
      background-color: $bgColor;
      border: 1px solid $borderColor;
    }

    button,
    input[type="button"] {
      color: $buttonTextColor;
      background-color: $buttonBgColor;
      border: 1px solid $borderColor;

      &:hover {
        background-color: $buttonHoverBgColor;
      }
    }

    .editor-group {
      border: 1px solid $borderColor;
    }

    .range-slider {
      border: 1px solid $borderColor;
      background-color: $bgColor;

      &:before {
        background-color: $bgColor;
      }

      span {
        background-color: $sliderBgColor;
      }
    }
  }
}
