doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="description", content= "Object GUI")
        meta(name="author", content= "Matteo Bruni")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title Object GUI
        link(href="/object-gui/css/object-gui.css" rel="stylesheet" type="text/css")
        link(href="/stylesheets/main.css" rel="stylesheet" type="text/css")

    body
        pre#pre
            code#code

        div#colorPreview

        script(src="/object-gui/js/object-gui.min.js")
        script(src="/javascripts/demo.js")
