@use "../utils/theme";

$bgColor: #9d0000;
$textColor: #fff;
$borderColor: rgb(229, 255, 0);

@include theme.create-theme(
  "brown",
  $bgColor,
  $textColor,
  $borderColor,
  rgba(0, 0, 0, 0.03),
  $textColor,
  rgba(0, 0, 0, 0.125),
  $bgColor,
  $textColor,
  darken($bgColor, 10%)
);
