@use "../utils/theme";

$bgColor: #000;
$textColor: #fff;
$borderColor: #fff;

@include theme.create-theme(
  "dark",
  $bgColor,
  $textColor,
  $borderColor,
  rgba(255, 255, 255, 0.25),
  $textColor,
  rgba(255, 255, 255, 0.25),
  $bgColor,
  $textColor,
  lighten($bgColor, 20%)
);
