@use "../utils/neutheme";

$bgColor: #333;
$textColor: #fff;
$lightColor: #333;
$shadowColor: #000;
$activeColor: rgb(198, 34, 21);
$disactiveColor: #777;

@include neutheme.create-neu-theme(
  "greysun",
  $bgColor,
  $textColor,
  $textColor,
  $activeColor,
  $bgColor,
  $textColor,
  darken($bgColor, 10%),
  $activeColor,
  $disactiveColor,
  $lightColor,
  $shadowColor
);
