@use "../utils/neutheme";

$bgColor: #fff;
$textColor: #000;
$lightColor: #fff;
$shadowColor: rgba(209, 205, 199);

@include neutheme.create-neu-theme(
  "light",
  $bgColor,
  $textColor,
  rgba(0, 0, 0, 0.03),
  $textColor,
  rgb(22, 57, 230),
  $bgColor,
  $textColor,
  darken($bgColor, 10%),
  $lightColor,
  $shadowColor
);
