@use "../utils/neutheme";

$bgColor: #fff;
$textColor: #000;
$lightColor: #fff;
$shadowColor: rgba(209, 205, 199);
$activeColor: rgb(22, 57, 230);
$disactiveColor: #ccc;

@include neutheme.create-neu-theme(
  "light",
  $bgColor,
  $textColor,
  $textColor,
  $activeColor,
  $bgColor,
  $textColor,
  darken($bgColor, 10%),
  $activeColor,
  $disactiveColor,
  $lightColor,
  $shadowColor
);
