@use "../utils/neutheme";

$bgColor: #ffdaf3;
$textColor: #000000;
$lightColor: #ffeef9;
$shadowColor: #ffb3e6;
$activeColor: #3eafea;
$disactiveColor: #ccc;

@include neutheme.create-neu-theme(
  "pink",
  $bgColor,
  $textColor,
  $textColor,
  $activeColor,
  $bgColor,
  $textColor,
  darken($bgColor, 10%),
  $activeColor,
  $disactiveColor,
  $lightColor,
  $shadowColor
);
