@use "../utils/theme";

$bgColor: #eeea11;
$textColor: rgb(0, 0, 0);
$borderColor: rgba(0, 0, 0, 0.21);

@include theme.create-theme(
  "yellow",
  $bgColor,
  $textColor,
  $borderColor,
  rgba(0, 0, 0, 0.03),
  $textColor,
  rgba(0, 0, 0, 0.03),
  $bgColor,
  $textColor,
  darken($bgColor, 10%)
);
